<div class = "row no-gutters">
  <div class = "col-md-4 offset-md-4">
    <div class = "card bg-light">
      <div class = "card-body">
        <%= form_for @contact do |f| %>

        <div class = "form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class:"form-control" %>
        </div>

        <div class = "form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class:"form-control" %>
        </div>

        <div class = "form-group">
          <%= f.label :comments %>
          <%= f.text_area :comments, class:"form-control" %>
        </div>

        <%= f.submit 'Submit', class:"btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
